<!-- Client start and home page -->
<ion-view style="background-color:#f7f7f7">
    <ion-content>
        <p>Client start and home page</p>

        <button type="button" class="btn btn-primary" style="box-shadow:none;" ng-click="gotoCanvasView()">Draw</button>
        <button type="button" class="btn btn-primary" style="box-shadow:none;" ng-click="gotoGalleryView()">Gallery</button>
        <button type="button" class="btn btn-primary" style="box-shadow:none;">Friends</button>


        <div>client name, registration code, avatar</div>
        <div>{{clientName}}</div>
        <div><img src={{avatarID}} height="100" width="100"></div> <!--EACH IMAGE IS A DIFFERENT SIZE. DOH!-->


        <!--Event Log  Repeater. THIS CODE USED IN CLIENTSTART.HTML and  CLIENTPROPERTIES.HTML -->
        <div>
            <!--'For Each' loop using object 'clientlist' known to the $scope when defined in the controller -->
            <!--'row' is a new local var created here then used in controllerJS-->
            <!-- Can use 'arr.[x]' for array and 'ParamName/Colname' if JSON -->
            <div ng-repeat="row in eventarray track by $index" ng-include="'repeaterTemplate.html'"></div>
            <div ng-show="noEventsFlag">No events</div>
        </div>
        <!-- This is one way to specify the repeater item template used above
            Could also be in separate HTML file loaded with ng-include="'folder/repeaterTemplate.html'"
            Have to have the element ID on everything because the obj id is passed where ever you click-->
        <script type="text/ng-template" id="repeaterTemplate.html">
            
            <!--If row.day is not Null, then show it-->
            <div class="eventlogdate" ng-show="row.day">{{row.day}}</div>
            
            <div class="eventlogcard">            
                
                <div class="eventlogcardcontainer">
                    
                    <!--TEMPLATE EVENT TYPE IS 'friends'-->
                    <div ng-show="row.event_type=='friends'"> 
                        <img src={{row.fromkidavatar}} class="avatar-medium">
                        <div ng-repeat="subarrayitem in row.tokid">
                            <img src={{subarrayitem.tokidavatar}} class="avatar-medium">
                        </div>
                        <span>{{row.event_desc}}</span>
                    </div> <!--end conditional format-->

                    <!--TEMPLATE EVENT TYPE IS 'friends'-->
                    <div ng-show="row.event_type=='friends'">
                    </div> <!--end conditional format--> 

                    <!--TEMPLATE EVENT TYPE IS 'friends'-->
                    <div ng-show="row.event_type=='friends'">
                    </div> <!--end conditional format--> 


                    <img src={{row.fromkidavatar}} class="avatar-medium">
                    
                    <!--Nested repeater within the first JSON array-->
                    <div ng-repeat="subarrayitem in row.tokid">
                        <div>{{subarrayitem.tokidname}}</div>
                        <img src={{subarrayitem.tokidavatar}} class="avatar-medium">
                        <div>{{subarrayitem.tokidreply}}</div>
                    </div>

                    <!--THE TEXT EVENT DESCRIPTION GOES HERE-->
                    <span>{{row.event_desc}}</span>

                    <span class="eventlogtime">
                        <!--{{row.datetime | date:"EEEE, MMM d"}}-->
                        {{row.time}}
                    </span>
                </div>  <!--end event container-->

                <div ng-show="row.picture_url">
                    <img id="{{row.picture_url}},{{row.fromkid}},{{row.fromkidavatar}},{{row.fromkid_id}}" style="width:100%" src="{{row.picture_url}}" alt="Shared drawing" ng-click="gotoPictureView($event)" />
                 </div>


            </div>  <!--end eventlog card-->
        </script>

</ion-content>
</ion-view>