
/* TOOK OUT FOR TESTING WITH IONIC */
/*Not sure if this should go here global or inside an id or class*/
/*::-webkit-scrollbar { display: none; }*/

body{

    /* TOOK OUT FOR TESTING WITH IONIC */
    /*Prevent the "Copy" selection and menu on long press
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    Improve text appearance
    text-rendering: optimizeLegibility;
    Remove grey highlight when tapping links
    -webkit-tap-highlight-color: transparent;*/ 

    font-family: 'Kingthings Clarity' !important; /*Doesn't work without Important to override the Ionic.css*/
}


/* FONT ========================================================= */
@font-face {
    font-family: 'Kingthings Clarity';
    src: url('../fonts/Kingthings Clarity1.1.ttf');
}
@font-face {
    font-family: 'KingthingsClarity1_1';  /*Note: this is not the name in the font file.  It's same as above.  PUT IN BODY TAG TO TEST*/
    src: url('../fonts/KingthingsClarity1_1.eot');
    src: url('../fonts/KingthingsClarity1_1.eot') format('embedded-opentype'),
         url('../fonts/KingthingsClarity1_1.woff2') format('woff2'),
         url('../fonts/KingthingsClarity1_1.woff') format('woff'),
         url('../fonts/KingthingsClarity1_1.ttf') format('truetype'),
         url('../fonts/KingthingsClarity1_1.svg#KingthingsClarity1_1') format('svg');
}


/* ICONS ========================================================= */

.svgicon {
    background-image: url('../img/kidstagramicons.svg');
    background-repeat: no-repeat;
    /*background-size: 2600px 100px; /* actual size at 640 - 2x */
    background-size: 1300px 50px; /* actual size at 320 = 1x */
}

.svgicon.new {
    background-position: -24px -3px; /*This was trial and error*/
    width: 28px; 
    height: 37px;
}

.svgicon.save {
    background-position: -524px 6px;
    width: 28px; 
    height: 37px;
}

.svgicon.gallery {
    background-position: -270px -1px;
    width: 32px; 
    height: 37px;
}

.svgicon.checkmark {
    background-position: -505px -1px; 
    width: 28px; 
    height: 32px;
}
.svgicon.camera {
    background-position: -544px -2px; 
    width: 28px; 
    height: 32px;
}
.svgicon.share {
    background-position: -646px -2px; 
    width: 60px; 
    height: 32px;
}
.svgicon.pen1select {
    background-position: -717px -8px !important; 
    width: 35px !important; 
    height: 35px !important;
}
.svgicon.pen2select {
    background-position: -754px -6px !important; 
    width: 37px !important; 
    height: 37px !important;
}
.svgicon.pen3select {
    background-position: -794px -3px !important; 
    width: 40px !important; 
    height: 40px !important;
}
.svgicon.pen1 {
    background-position: -973px -7px; 
    width: 37px; 
    height: 37px;
}
.svgicon.pen2 {
    background-position: -1015px -4px; 
    width: 38px; 
    height: 40px;
}
.svgicon.pen3 {
    background-position: -1056px -3px; 
    width: 40px; 
    height: 40px;
}
.svgicon.brush1select {
    background-position: -834px -8px !important; 
    width: 36px !important; 
    height: 37px !important;
}
.svgicon.brush2select {
    background-position: -876px -8px !important; 
    width: 41px !important; 
    height: 35px !important;
}
.svgicon.brush3select {
    background-position: -920px 0px !important; 
    width: 46px !important; 
    height: 42px !important;
}
.svgicon.brush1 {
    background-position: -1145px -8px; 
    width: 39px; 
    height: 37px;
}
.svgicon.brush2 {
    background-position: -1184px -7px; 
    width: 47px; 
    height: 36px;
}
.svgicon.brush3 {
    background-position: -1230px -1px; 
    width: 49px; 
    height: 42px;
}
.svgicon.eraserselect {
    background-position: -132px -2px !important; 
    width: 30px !important; 
    height: 32px !important;
}
.svgicon.eraser {
    background-position: -1103px -10px; 
    width: 30px; 
    height: 32px;
}
.svgicon.back {
    background-position: -398px -1px; 
    width: 28px; 
    height: 32px;
}


/* SPINNER ========================================================= */

.spinnerbuttonprogress {
  height: 30px;
  width: 30px;
  -webkit-animation: rotation .7s infinite linear;
  -moz-animation: rotation .7s infinite linear;
  -o-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
  border-left: 3px solid rgba(153, 153, 153, 0.3);
  border-right: 3px solid rgba(153, 153, 153, 0.3);
  border-bottom: 3px solid rgba(153, 153, 153, 0.3);
  border-top: 3px solid rgba(153, 153, 153, 1);
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
.spinnerbuttonsuccess {
    transition:background-color 0.3s, border-color 0.3s, color 0.3s;
    background-color:#5bb265;
}
.spinnerbuttonfail {
    transition:background-color 0.3s, border-color 0.3s, color 0.3s;
    background-color:#e65c5c;
}








/* picture thumbnail in event log ========================================*/
.smallimage {
    max-width: 33.33%;
    height: auto;
}
/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/
/* for testing only ========================================*/
.selecteddiv {
    background-color: #00bfff;
    color: #fff;
}






/* TRYING TO OVERWRITE DEFAULT IONIC STYLES ========================================*/
/* ---whitebackground for loader------*/
.loading-container .loading {
    background-color: white;
    color: #333;
    border-width: 1px !important;
    border-color: #fff !important;
    border-style: solid !important;
}






/* EVENT LOGS ========================================*/

.eventlogdate {
    color:#bbbdbf;
    font-size:14px;
    text-align:center;
    padding-top:42px; /*was 30 then added 12 to compensate for the neg margin on card to make single days (no date inbetween) overlap and look like 1 card*/
    padding-bottom:17px;
}
.eventlogcard {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.15);
    border-radius: 8px; 
    margin-left:10px;
    margin-right:10px;
    background-color:#fff;
    padding-bottom:10px;    /*space for curve of card*/
}
.eventlogcardcontainer {
    padding: 17px;
}
.eventdescblock {
    margin-left:67px;
    padding-top:6px;
}
.eventlogdesc {
    font-size:16px;
    display:inline;
    margin-right:5px;
}.eventlogtime {
    color: #d0d2d3;
    font-size:12px;
    display:inline;
}
.avatar-medium {
    height:55px;
    width:55px;
}
.avatar-small {
    height:25px;
    width:30px;
}
/*----------- HEADER AND AVATAR ----------------*/
#eventlogheader {
    background-color:#262261;
    height:90px;
    background-image: url('../img/header/headerbackground.svg');
    background-repeat: repeat-x;
    /*background-size:120%;*/
}
.avatarbackground {
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    height:98px; 
}
.headeravatar {
    height:60px;
    width:60px; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top:-74px; 
}
/*@media screen and (min-width: 760px) {*/  /*Tablet size*/
@media screen and (min-width: 600px) {  /*Tablet size*/
    .avatarbackground {
        padding-top:10px;
        margin-left: auto;
        margin-right: auto;
        display: block; 
        height:108px; 
    }
    .headeravatar {
        height:80px;
        width:80px; 
        margin-left: auto;
        margin-right: auto;
        display: block; 
        margin-top:-89px; 
    }
}
/*------------------------------------------*/

#eventlogheaderbuttons {
    margin-top:20px;
    height:82px;
    width:235px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-12px; /*to compensate for space pulled tighter between cards to make them look like one for different events on a day*/
}
.imagebuttonwrapper {
    width:56px;
    height:56px;
    text-align:center;
    color:#26a9e0;
}
.buttonlink {
    color:#26a9e0;
}
.borderlessbuttonlink {
    color:#26a9e0;
    border:none;
    background-color:#fff;
    font-family:'Kingthings Clarity' !important;
}
#starprogress {
    width:56px;
    height:20px;  /*this is the height of the progress indicator*/
    background-color:#fff100;
    margin-left:34px;
    position: absolute;
    margin-top:36px; /*this also has to change to keep it anchored bottom = height + margin-top = star height = 56px */
}
.starprogressbackground {
    width:56px;
    height:56px;  
    background-color:#fff;
    position: absolute;
    margin-left: 34px;
    margin-top: 2px; 
}

/*Modal for Adding a New Kid*/
.newkidmodal {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.15);
    border-radius: 8px; 
    margin-left:-150px;  /*trick for center absolutely positioned el*/
    left:50%;   /*trick for center absolutely positioned el*/
    width:300px;
    height:285px;
    background-color:#fff;
    padding:17px 17px 27px 17px;  /*space for curve of card*/
    background-image: url('../img/newkid_background.svg');
    background-repeat:no-repeat;
    text-align:center;
    position:absolute;
    top:273px;
    z-index:12;
}
.textinput {
    width:200px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    border-bottom:2px solid #26a9e0 !important;
    font-size:24px !important;
    margin-top:5px;
    text-align:center;
    font-family:'Kingthings Clarity' !important;
}
.disable {
    color:#cccccc;
}






